from pathlib import Path
from lib.types import SupportedGame, Language

from typing import Final

MGSSCRIPTTOOLS_PATH : Final = Path("path/to/MagesScriptTool.exe")
PATCHSCS_PATH : Final = Path("path/to/PatchScs.exe")
UNGELIFY_PATH : Final = Path("path/to/ungelify.exe")

BANK_PATH : Final = Path("path/to/mgs-spec-bank")

RESOURCES_PATH : Final[dict[SupportedGame, dict[str, Path | dict[Language, Path]]]] = {
    SupportedGame.CHAOS_HEAD : {
        "switch" : {
            Language.JAPANESE : Path("path/to/chaos_head/jpn/romfs"),
            Language.ENGLISH : Path("path/to/chaos_head/eng/romfs")
        },
        # Multilang
        "windows" : Path("path/to/chaos_head/steam/Data")
    },
    SupportedGame.CHAOS_CHILD : {
        "switch": {
            Language.ENGLISH : Path("path/to/chaos_child/eng/romfs")
        },
        "windows": {
            Language.ENGLISH : Path("path/to/chaos_child/steam/USRDIR")
        }
    },
    SupportedGame.CHAOS_HEAD_LCC : {
        "switch": {
            Language.JAPANESE : Path("path/to/chaos_head_lcc/jpn/romfs")
        },
        "ps3" : {
            Language.ENGLISH : Path("path/to/chaos_head_lcc/ps3/USRDIR")
        },
    },
    SupportedGame.CHAOS_CHILD_LCC : {
        "switch": {
            Language.JAPANESE : Path("path/to/chaos_child_lcc/jpn/romfs")
        },
        "ps4" : {
            Language.ENGLISH : Path("path/to/chaos_child_lcc/ps4/USRDIR")
        }
    },
    SupportedGame.STEINS_GATE_HD : {
        "windows" : {
            Language.ENGLISH : Path("path/to/steins_gate_hd/steam/USRDIR")
        }
    }
}
